---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: Never
  AfterStruct: false
  AfterEnum: false
  AfterUnion: false
  AfterExternBlock: false
  IndentBraces: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
SpaceBeforeParens: ControlStatements
AlignConsecutiveMacros: true
AlignTrailingComments: true
ColumnLimit: 100
SortIncludes: false
PointerAlignment: Right